In [1]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
from sklearn.preprocessing import StandardScaler
from dateutil import rrule
import datetime
from sklearn.metrics import silhouette_samples, silhouette_score
import matplotlib.cm as cm
import numpy as np
from scipy.spatial.distance import cdist, pdist
from sklearn.cluster import KMeans
import shutil
import datetime as dt
from IPython.display import display, clear_output
import geopy.distance as distance
%matplotlib inline

In [3]:
print(dt.datetime.now()," Start Process")

2019-06-21 16:01:26.875876  Start Process

In [4]:
# Find list of interesting files
path = '/scratch/skp454/Trajectory/data/cleaned/'
list_file = []
# for file in os.listdir(path):
#     if 'Zone18' in file and '2017' in file:
#         list_file.append(file)
for file in os.listdir(path):
    if 'Zone18' in file and '2017' in file and '07' in file:
        list_file.append(file)

In [5]:
# open files of interests and append together
df_main = pd.DataFrame()
for file in list_file:
    df_temp = pd.read_csv(path + file)
    df_main = df_main.append(df_temp)
df_main.head()

        MMSI         BaseDateTime       LAT       LON  Heading
0  369500003  2017-07-01T00:00:03  40.63894 -74.15579    511.0
1  338135000  2017-07-01T00:00:02  36.83649 -76.26639    511.0
2  338208499  2017-07-01T00:00:00  41.09434 -73.41159    511.0
3  367015880  2017-07-01T00:00:09  40.64157 -74.12044    511.0
4  338232227  2017-07-01T00:00:09  36.84335 -76.29097    511.0

In [11]:
# Trim data based on Lat Lon
print('LAT', df_main['LAT'].min(), df_main['LAT'].max())
print('LON', df_main['LON'].min(), df_main['LON'].max())
print(len(df_main))

df_main = df_main[(df_main['LAT']>39) * (df_main['LAT']<40)]
df_main = df_main[(df_main['LON']>-73) * (df_main['LON']<-72)]

print('LAT', df_main['LAT'].min(), df_main['LAT'].max())
print('LON', df_main['LON'].min(), df_main['LON'].max())
print(len(df_main))

LAT 2.22854 80.67124
LON -78.0 -72.0
35775789

/home/skp454/bigdata/bdpy/lib/python3.6/site-packages/pandas/core/computation/expressions.py:183: UserWarning: evaluating in Python space because the '*' operator is not supported by numexpr for the bool dtype, use '&' instead
  .format(op=op_str, alt_op=unsupported[op_str]))

LAT 39.00003 39.99999
LON -72.99999 -72.00001
162505

In [12]:
#number of active vessels
VN=len(df_main.MMSI.unique());
print("No.of Active Vessels", VN)

No.of Active Vessels 425

In [13]:
print(dt.datetime.now()," Change to DateTime")

2019-06-21 16:04:55.750863  Change to DateTime

In [14]:
# convert to datetime
df_main['BaseDateTime'] =pd.to_datetime(df_main.BaseDateTime)

# sort df_main
df_main = df_main.sort_values(by=['MMSI','BaseDateTime'])

#reset_index
df_main.reset_index(inplace=True, drop=True)

In [15]:
print(dt.datetime.now()," Creating Trips")

2019-06-21 16:05:01.945777  Calculate Time Intervals

In [ ]:
# function to calculate distance between consecutive points
def calcDist(lat, lon):
    df_dist = pd.DataFrame(np.array([lat[:-1],lon[:-1],lat[1:],lon[1:]]).T)
    df_dist['Dist'] = df_dist.apply(lambda row: distance.geodesic((row[0],row[1]),(row[2],row[3])).km, axis=1)
    return df_dist['Dist']

In [68]:
# create time_Diff
t=np.array(df_main.BaseDateTime)
I=list((t[1:]-t[:-1])/np.timedelta64(1, 's'))
I=[0] + I
df_main['TimeDiff'] = I

# MMSI Diff
m=np.array(df_main.MMSI)
M=list(m[1:]-m[:-1])
M=[1] + M
df_main['mmsiDiff'] = M

# Distance diff
df_main['Dist'] = [0] + list(calcDist(df_main['LAT'],df_main['LON']))

#Speed
df_main['Speed'] = (df_main['Dist']*3600)/df_main['TimeDiff']
df_main['Speed'].fillna(0, inplace =True)

#Actual time Diff
df_main['mmsiDiff'] = df_main['mmsiDiff']==0
df_main['TimeDiff'] = df_main['TimeDiff'] * df_main['mmsiDiff']
df_main['Dist'] = df_main['Dist'] * df_main['mmsiDiff']
df_main['Speed'] = df_main['Speed'] * df_main['mmsiDiff']

# drop unneccessary zero time diff
df_main.drop(index = df_main[(df_main['TimeDiff']==0)*(df_main['mmsiDiff']==True)].index, inplace =True)

#reset_index
df_main.reset_index(inplace=True, drop=True)

# stationarity
df_main['Stationary'] = df_main['Speed']<0.03

# stationarity id
df_main['trip_id'] = df_main['Stationary'].cumsum()

# view data
df_main.head()

,MMSI,BaseDateTime,LAT,LON,Heading,TimeDiff,mmsiDiff,Dist,Speed,Stationary,trip_id
0,145130109,2017-07-17 06:49:44,39.29958,-72.28732,511.0,0.0,False,0.000000,0.000000,True,1
1,145130109,2017-07-17 06:52:04,39.29939,-72.28784,511.0,140.0,True,0.049568,1.274596,False,1
2,145130109,2017-07-17 07:06:43,39.29874,-72.29089,511.0,879.0,True,0.272812,1.117319,False,1
3,145130109,2017-07-17 07:08:16,39.29864,-72.29123,511.0,93.0,True,0.031360,1.213925,False,1
4,145130109,2017-07-17 07:10:05,39.29850,-72.29152,511.0,109.0,True,0.029451,0.972699,False,1

In [ ]:
# Save data
df_main.to_csv('/scratch/skp454/Trajectory/data/20190621_AISTripMainData.csv')

In [ ]:
print(dt.datetime.now()," Creating Trips Statistics")

In [108]:
# calculate dispacement
df_displacement = pd.DataFrame()
df_displacement['trip_id'] = list(df_main[df_main['Stationary'] == 1].trip_id)
df_displacement['Start'] = list(df_main[df_main['Stationary'] == 1].index)
df_displacement['End'] = list(df_main[df_main['Stationary'] == 1].index)[1:] + [len(df_main)]
df_displacement['End'] = df_displacement['End'] - 1
df_displacement['displacement'] = df_displacement.apply(lambda row:distance.geodesic\
                                                        ((df_main.loc[row['Start'],'LAT'],
                                                          df_main.loc[row['Start'],'LON']),
                                                         (df_main.loc[row['End'],'LAT'],
                                                          df_main.loc[row['End'],'LON'])).km, axis =1)
# Calculate Distance Time and Speed for Trips
df_main = df_main[df_main['Stationary'] == False]
df_main['Count'] = 1
df_trip = pd.DataFrame(df_main.groupby(['trip_id','MMSI'], as_index=False)['Dist','TimeDiff','Count'].sum())
del df_main['Count']
df_trip['Speed'] = df_trip['Dist']*3600/df_trip['TimeDiff']

# Merge with trip data
df_trip = df_trip.merge(df_displacement[['trip_id','displacement']], on ='trip_id', how='inner')

# Save trip data
df_trip.to_csv('/scratch/skp454/Trajectory/data/20190621_AISTripStatsData.csv')